<div class="toolbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">VisorGasolina</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          @for (combustible of combustibles; track combustible.ruta) {
            <a class="nav-link" [routerLink]="'/' + combustible.ruta"
               routerLinkActive="active"
               (click)="seleccionarCombustible(combustible.ruta, combustible.campoApi)">{{ combustible.etiqueta }}</a>
          }
          <a class="nav-link" routerLink="/favoritos" routerLinkActive="active" (click)="seleccionarFavoritos()">Favoritos</a>
        </div>
      </div>
    </div>
  </nav>
</div>