<div>
    <h1>Política de Privacidad</h1>
    <h2>Introducción</h2>
    <p>VisorGasolina se compromete a proteger la privacidad de los usuarios de nuestro sitio web. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestro sitio web.</p>
    <h2>Recopilación de Información</h2>

    <p>Recopilamos información de forma automática, como datos de navegación y dirección IP.</p>
    <h2>Uso de la información</h2>
    <p>Utilizamos la información que recopilamos para los siguientes fines:</p>
    <ul>
        <li>Para proporcionarte los productos o servicios que solicitas.</li>
        <li>Para mejorar y personalizar tu experiencia en nuestro sitio web.</li>
        <li>Para cumplir con obligaciones legales y regulaciones aplicables.</li>
    </ul>

    <h2>Divulgación de la información</h2>
    <p>No vendemos, alquilamos ni compartimos tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para proporcionar los servicios que solicitas o cumplir con obligaciones legales.</p>

    <h2>Cookies y Tecnologías Similares</h2>
    <p>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y analizar el tráfico en nuestro sitio web. Puedes configurar tu navegador para rechazar cookies, pero esto podría afectar tu capacidad para utilizar algunas funciones de nuestro sitio web.</p>

    <h2>Seguridad de la Información</h2>
    <p>Tomamos medidas para proteger tu información personal y mantener su confidencialidad. Sin embargo, no podemos garantizar la seguridad absoluta de la información transmitida a través de Internet.</p>

    <h2>Cambios en esta Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Te recomendamos revisar periódicamente esta página para estar al tanto de cualquier cambio. La fecha de vigencia de la política se indicará en la parte superior de la página.</p>
</div>
