:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenido {
  flex: 1;
  width: 100%;
  max-width: var(--vg-ancho-contenido);
  margin: 0 auto;
  padding: var(--vg-espacio-5) var(--vg-margen-lateral) var(--vg-espacio-7);
}
