<h1>Visor de precios en España de {{ gasolina }}</h1>
<h2></h2>
<div class="parrafos">
    <p>Para buscar los mejores precios de diésel selecciona tu <strong>provincia y localidad</strong>.</p>
    <p>Si se selecciona solo la provincia se mostrarán todas las estaciones de servicio de la misma.</p>
    <p>Pulsa sobre la dirección para abrir el navegador con la posición GPS exacta de la estación.</p>
    <p>En <strong id="precioMenor">VERDE</strong> aparecen los precios por debajo de la media y en <strong id="precioMayor">ROJO</strong> los precios por encima.</p>
</div>
<div class="selectores">
    <mat-form-field class="contendorSelector">
        <mat-select placeholder="Provincia" name="operacion" #provincia (selectionChange)="getLocalidades(provincia.value)" required>
        <mat-option *ngFor="let provincia of arrProvincias" [value]="provincia">
            {{provincia.Provincia}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="contendorSelector">
        <mat-select placeholder="Localidad" name="operacion" #localidad  (selectionChange)="getGasolinerasLocalidad(localidad.value.IDMunicipio)" required>
        <mat-option *ngFor="let localidad of arrLocalidadesUnicas" [value]="localidad">
            {{localidad.Localidad}}
        </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div *ngIf="datosCargados == true">
    <div class="contenedorTabla">
        <table class="table table-striped">
            <caption>Gasolineras en <strong>{{nombreLocalidad}}</strong></caption>
            <caption> Precio medio <strong>{{precioMedio}} €</strong></caption>
            <caption> Fecha obtención de datos: <strong>{{fechaActualizacion}}</strong></caption>
            <thead>
              <tr>
                <th scope="col">Gasolinera</th>
                <th scope="col">Direccion</th>
                <th scope="col">{{ gasolina }} (€/L)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gasolinera of arrGasolineras | paginate: { itemsPerPage: selectedPageSize, currentPage: pagina}">
                <td>{{gasolinera.rotulo}}</td>
                <td><a target="_blank" [href]="'https://www.google.es/maps/place/' + gasolinera.latitud + ',' + gasolinera.longitud">{{gasolinera.direccion}}</a></td>
                <td id="{{ gasolinera.precio <= precioMedio ? 'precioMenor' : 'precioMayor' }}"><strong>{{ gasolinera.precio }}€</strong></td>

              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <pagination-controls 
              (pageChange)="pagina = $event" 
              previousLabel="Anterior"
              nextLabel="Siguiente"
              [autoHide]="true"
              [maxSize]="5"
            >
            </pagination-controls>
            <p>Paginación</p>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="selectedPageSize" (change)="paginacion()">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="10000">Todo</option>
            </select>
          </div>
    </div>
</div>
<div *ngIf="datosCargados == false" id="cargandoDatos" class="loader-container">
  <div class="loader"></div>
</div>

