@import '~@angular/material/prebuilt-themes/indigo-pink.css';

  table {
    width: 100%;
    margin:1rem auto;
  }
  
  caption{
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .contenedorTabla {
    margin: 2%;
  }
  
  th, td{
    text-align: center;
  }
  