@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-table {
  width: 80%;
  margin: 1rem auto;
}

caption{
  margin-bottom: 20px;
  font-weight: bold;
}

.contenedorTabla {
  margin: 2%;
}

th, td{
  text-align: left;
}

#cargandoDatos{
  font-size: 200%;
  text-align: center;
  margin: 50px;
}

a:visited{
  color: black;
}

a{
  color: black;
}

.contendorSelector{
  margin: 50px;
  margin-bottom: 0px;
  width: 300px;
}

.selectores{
  display: flex;
  justify-content: center;
}
  