/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
  }
  
body.light-mode {
    background-color: white;
    color: #2d3436;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");